06-HTTPGetPost-methods-webapp/01-httptGet/httpGet/.vs
06-HTTPGetPost-methods-webapp/01-httptGet/httpGet/httpGet/bin
06-HTTPGetPost-methods-webapp/01-httptGet/httpGet/httpGet/obj
06-HTTPGetPost-methods-webapp/01-httptGet/httpGet/.vs/httpGet/v17/.suo
07-Middleware/Middleware/.vs/Middleware/v17/.suo
07-Middleware/Middleware/Middleware/bin
07-Middleware/Middleware/Middleware/obj
07-Middleware/Middleware/.vs
08-Routing/bin
08-Routing/obj
08-Routing/.vs