06-HTTPGetPost-methods-webapp/01-httptGet/httpGet/.vs
06-HTTPGetPost-methods-webapp/01-httptGet/httpGet/httpGet/bin
06-HTTPGetPost-methods-webapp/01-httptGet/httpGet/httpGet/obj
06-HTTPGetPost-methods-webapp/01-httptGet/httpGet/.vs/httpGet/v17/.suo
